In [181]:
# 구글 드라이브 로드
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [182]:
import pandas as pd  
train = pd.read_csv('/content/drive/MyDrive/DACON/심부전증 예측/dataset.csv')

train_all=[train]

train.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [183]:

from collections import Counter

print(Counter(train['DEATH_EVENT']))

Counter({0: 203, 1: 96})

In [185]:
X = train.iloc[:,:-1]
Y = train['DEATH_EVENT']

--> 머신러닝 데이터 나누기

In [186]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(X,Y,random_state=1055)

--> 머신러닝 시작

In [222]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
import numpy as np
from sklearn.metrics import accuracy_score

# max_depth=28,n_estimators=10 / max_depth=20,n_estimators=9 일때 90%의 정확도를 보임.
clf = RandomForestClassifier(max_depth=20,n_estimators=9)
clf.fit(X_train,y_train)

정확도:  0.8933333333333333

In [223]:
prediction = clf.predict(X_test)
print(prediction)

[0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 1
 1 1 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0
 0]

In [224]:
from sklearn.metrics import classification_report

print(classification_report(y_test, prediction, target_names=['class 0', 'class 1']))

              precision    recall  f1-score   support

     class 0       0.90      0.94      0.92        48
     class 1       0.88      0.81      0.85        27

    accuracy                           0.89        75
   macro avg       0.89      0.88      0.88        75
weighted avg       0.89      0.89      0.89        75

In [225]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler, Binarizer
from sklearn.linear_model import LogisticRegression

def get_clf_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred)
    AUC = roc_auc_score(y_test, y_pred)
    
    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))
    print('정밀도: {:.4f}'.format(precision))
    print('재현율: {:.4f}'.format(recall))
    print('F1: {:.4f}'.format(F1))
    print('AUC: {:.4f}'.format(AUC))

get_clf_eval(y_test, prediction)

오차행렬:
 [[45  3]
 [ 5 22]]

정확도: 0.8933
정밀도: 0.8800
재현율: 0.8148
F1: 0.8462
AUC: 0.8762